#contact {
  background: linear-gradient(var(--c11) 600px, var(--c1) 0px);
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-top: 20px;
}

.contact-content,
#contact .form {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#contact .form {
  border-radius: 0 4px 4px 0;
}

.contact-content {
  background: var(--c12) url("../../img/dec/bottom-left.svg") no-repeat bottom 40px left 40px;
  padding: 60px 60px 130px;
  border-radius: 4px 0 0 4px;
}

.contact-content h2 {
  margin-bottom: 60px;
  font-weight: 600;
}

.address,
.emails,
.phone {
  margin-bottom: 32px;
  padding-left: 28px;
}

.emails a {
  display: block;
  max-width: max-content;
}

.emails a:hover,
.phone a:hover {
  color: var(--w);
}

.phone {
  margin-bottom: 60px;
}

.address p,
.emails a {
  margin-bottom: 4px;
}

.address {
  background: url("../../img/icones/local.svg") no-repeat;
}

.emails {
  background: url("../../img/icones/email.svg") no-repeat;
}

.phone {
  background: url("../../img/icones/telefone.svg") no-repeat;
}

.contact-wrapper .social {
  padding-left: 28px;
}

@media (min-width: 800px) {
 
}

@media (max-width: 600px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  #contact .form {
    border-radius: 4px 4px 0 0;
  }

  .contact-content {
    order: 2;
    border-radius: 0 0 4px 4px;
    padding: 60px 60px 100px;
    background: var(--c12) url("../../img/dec/bottom-right.svg") no-repeat bottom 40px right 40px;
  }

  .contact-wrapper .social {
    padding-left: 0;
    justify-content: start;
  }
}
