.footer-bg {
  background-color: var(--c12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 0 140px;
  padding: 60px 0 32px 0;
}

.contact h3,
.footer-nav h3 {
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer a {
  font-weight: 400;
}

.footer a:hover {
  color: var(--w);
}

.contact-info ul {
  margin-bottom: 32px;
}

.contact-info ul li {
  margin-bottom: 16px;
}

.contact-info ul li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: var(--c11);
  margin-top: 16px;
}

.social {
  display: flex;
  gap: 16px;
}

.social a {
  padding: 10px;
}

.social a:first-child {
  padding-left: 0;
}

.footer-nav li + li {
 margin-top: 16px;
}

.copyright {
  grid-column: -1 / 1;
  margin-top: 80px;
}

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 5fr 4fr;
    gap: 0 100px;
  }

  .footer > a {
    display: none;
  }

  .copyright {
    margin-top: 80px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
  }

  .footer-nav {
    grid-row: 1;
    margin-bottom: 60px;
    text-align: center;
  }

  .contact {
    text-align: center;
  }

  .social {
    justify-content: center;
  }

  .contact h3, 
  .footer-nav h3 {
    margin-bottom: 20px;
  }

  .contact-info ul li:nth-child(even)::after {
    margin: 16px auto 0 auto;
    max-width: 300px;
  }

  .copyright {
    font-size: 0.875rem;
  }
}