body {
  margin: 0;
  font-family: var(--secondary-font);
  color: var(--c11);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

h1, h2, h3 {
  margin: 0;
  font-family: var(--primary-font);
}

p {
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
