.header-bg {
  background-color: var(--c12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.menu-item {
  padding: 16px 0;
  display: inline-block;
  color: var(--w);
  position: relative;
}

.menu-item::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--p1);
  transition: 0.3s;
  position: absolute;
}

.menu-item:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-bg {
    border-bottom: solid 1px var(--c11);
  }

  .header-menu {
    gap: 20px;
  }
  
  .menu-item {
    border-radius: 4px;
    padding: 8px 12px;
    color: var(--c5);
  }

  .logo img {
    width: 65%;
    margin: 0 auto;
  }

  .menu-item:hover {
    color: var(--p1);
  }

  .menu-item::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
    justify-content: center;
  }

  .menu-item:hover {
    color: var(--c5);
  }
}

@media (max-width: 500px) {
  .header {
    justify-content: center;
  }
}