.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 60px;
  background-color: var(--w);
}

.form label {
  display: block;
  margin-bottom: 4px;
  font: 600 1rem/1.5 var(--primary-font);
  color: var(--c11);
}

.form .btn {
  place-self: start;
  border: none;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form textarea,
.form select {
  width: 100%;
  background-color: var(--c1);
  border: none;
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid var(--c2);
  resize: vertical;
  font: 400 1rem/1.5 var(--secondary-font);
  color: var(--c7);
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="tel"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--p1);
  background-color: var(--w);
  box-shadow: 0 0 0 2px #fea;
}

.form textarea {
  height: 160px;
}

.form .span-2 {
  grid-column: span 2;
}

@media (max-width: 800px) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .span-2 {
    grid-column: 1;
  }
}

@media (max-width: 600px) {
  .form {
    border-radius: 4px 4px 0 0;
    padding: 40px 20px 60px 20px;
  }
}