#insurance .insurance-bg {
  padding: 60px 0;
}

.benefits-bg {
  background-color: var(--c12);
}

.benefits,
.faq {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits h2,
.faq h2 {
  margin-bottom: 90px;
}

.benefits ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 80px;
}

.benefits li img,
.benefits li h3 {
  margin-bottom: 8px;
}

.benefits li p {
  font-weight: 400;
}

.faq li {
  padding: 20px 40px;
  border-radius: 4px;
}

.faq li:nth-child(odd) {
  background-color: var(--c1);
}

.faq li button {
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: none;
  background: none;
  cursor: pointer;
}

.faq li button::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  position: absolute;
  left: -20px;
  top: 14px;
}

.faq li button img {
  object-fit: contain;
  transition: 0.2s;
}

.faq li button:hover img,
.faq li button[aria-expanded="true"] img {
  transform: rotate(180deg);
}

.faq li button {
  padding: 6px 0 6px 8px;
}

.faq li p {
  max-width: 75ch;
  font-weight: 400;
  display: none;
}

.faq li p.active-faq {
  display: block;
}

@media (min-width: 801px) and (max-width: 1000px) {
  #insurance .insurance-bg {
    padding-top: 20px;
  }

  .benefits,
  .faq {
    padding-top: 100px;
  }

  .faq h2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 800px) {
  .benefits ul {
    grid-template-columns: 1fr 1fr;
  }

  .benefits h2,
  .faq h2 {
    margin-bottom: 60px;
  }

  .benefits,
  .faq {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .benefits ul {
    grid-template-columns: 1fr;
  }

  .benefits li p,
  .faq li p {
    font-size: 1rem;
  }
}
