.bike-list {
  padding-top: 80px;
  padding-bottom: 100px;
}

.bike-list h2 {
  margin-bottom: 20px;
}

.bike-list-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  padding: 20px;
  overflow-x: auto;
}

.bike-item {
  min-width: 280px;
}

.bike-item a {
  display: block;
}

.bike-item img {
  margin-bottom: 16px;
}

.bike-item h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bike-item h3::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: var(--p1);
  transition: 0.3s;
}

.bike-item a:hover h3::before {
  width: 24px;
}

.bike-item p {
  margin-left: 20px;
}

@media (min-width: 801px) and (max-width: 1000px) {
  .bike-list {
    padding-top: 60px;
  }
}

@media (max-width: 800px) {
  .bike-list-wrapper {
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .bike-list {
    padding-top: 70px;
  }
}
