.main-bg {
  background-color: var(--c12);
  box-shadow: inset 0 -120px #FFFFFF;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  align-items: center;
  color: var(--w);
}

.main-text-wrapper {
  padding-bottom: 120px;
}

.main::after {
  content: "";
  display: block;
}

.main-title {  
  margin-bottom: 20px;
  max-width: 15ch;
}

.main-title span {
  color: var(--p1);
}

.main-text {
  font-size: 1.5rem;
  color: var(--c5);
  line-height: 1.5;
  margin-bottom: 40px;
}

.main img {
  object-fit: cover;
  object-position: top right;
}

@media (max-width: 1200px) {
  .main-text {
    font-size: 1.125rem;
  }  

  .main-bg {
    box-shadow: inset 0 -80px #FFFFFF;
  }

  .main-text-wrapper {
    padding-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .main {
    grid-template-columns: 1fr;
  }

  .main-text-wrapper {
    text-align: center;
  }

  .main-title {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .main-text {
    font-size: 0.875rem;
    max-width: 46ch;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .main-text-wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .main img {
    height: 300px;
    width: 100%;
  }   
}

@media (max-width: 600px) {
  .main-title {
    margin-bottom: 16px;
  }

  .main-text {
    margin-bottom: 24px;
  }
}